* {
  box-sizing: border-box;
}

body {
  /*background-color: #f9f9f9; /*off white for site*/*/
  margin: auto;
  font-family: Georgia, "Century Gothic", sans-serif;
  font-size: 1.4em;
  /*color: #303030;*/

  background-image: url('../images/bgsite.png');
  background-size: cover ;
  background-position: center;
  background-attachment: fixed;
  /*background-repeat: repeat;*/

}

.center {
  text-align: center;
}

.left {
  text-align: left;
  padding-left: 17px;
}

/*------- Nave Link and Special Settings ---------*/
a: link {
  color: lightgray;
}
a: visited {
  color: lightgray;
}
a: hover {
  transition: .3s ease;
  color: #fff;
}
a: active {
  color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  padding-left: 0;
}

/*********** Ng Wrapper ***********/

.wrapper {
  position: absolute;
  min-width: 1300px;
  top: 88px;
  min-height: 100vh;
  width: 100%;
  margin: auto;

  height: 100vh;
  background-image: url('../images/bgsite.png');
  background-size: auto ;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
}


/*********** Main Links ***********/

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('../images/linksite.png');
   background-position: center;
  background-size: auto;
  margin: 0 auto 0 auto;
  padding: 5px 0;
  min-width: 1090px;
  text-align: center;
  border: 0px solid black; /*nav box*/
  z-index: 1000;
}

div#links {
  padding: 5px 0;
  min-width: 1300px;
}

div#links > a{
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 20px; /*fits with room*/
  background: #000;
  padding: 5px 20px;
  color: #aaa;
  margin-right: 2px;
  margin-bottom: 0px;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.1s linear 0s, color 0.1s linear 0s;
}

/*div#links > a:hover {
  background: #0c400c;
  color: #fff;
}

a.no_underline:hover {
  text-decoration: none;
}

a.black_link:visited {
  font-family: Georgia, "Century Gothic", sans-serif;
  color: #303030;
}

a.black_link:visited {
   color: #303030;
}*/

a.black_text {
  font-family: Georgia, "Century Gothic", sans-serif;
  color: #303030;
  font-size: 1em;
}



/*********** Footer ***********/

#main-footer {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  /*background-color: rgba(200,200,200,.98);*/
}


/*********** Year Views Heading ***********/

div.year-head-box {
  width: 100%;
  min-width: 1050px;
  max-width: 1300px;
  margin: auto;
 }

div.year-head-left-box {
  font-family: Georgia, "Century Gothic", sans-serif;
  border: 0px solid black;
  width: 30%;
  float: left;
  text-align: center;
  margin: 5px;
}

div.year-head-center-box {
  font-family: Georgia, "Century Gothic", sans-serif;
  border: 0px solid black;
  width: 35%;
  float: left;
  text-align: center;
  padding-left: 55px;
  margin: 5px;
}

div.year-head-right-box {
  font-family: Georgia, "Century Gothic", sans-serif;
  border: 0px solid black;
  width: 30%;
  float: right;
  text-align: center;
  margin: 5px;
}

/*********** Year Views Main Content ***********/

div.year-box {
  width: 100%;
  min-width: 1300px;
  margin: auto;
 }

div.year-left-box {
  font-family: Georgia, "Century Gothic", sans-serif;
  min-width: 305px;
  border: 0px solid black;
  background-color: white;
  -webkit-box-shadow: 10px 9px 28px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 9px 28px -2px rgba(0,0,0,0.75);
  box-shadow: 10px 9px 28px -2px rgba(0,0,0,0.75);
  border-radius: 5px;
  height: 580px;
  width: 23%;
  float: left;
  padding: 20px 10px;
  text-align: left;
  margin: 5px;
  margin-left: 55px;
}

div.year-center-box {
  font-family: Georgia, "Century Gothic", sans-serif;
  min-width: 725px;
  border: 0px solid black;
  background-color: white;
  -webkit-box-shadow: 10px 9px 28px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 9px 28px -2px rgba(0,0,0,0.75);
  box-shadow: 10px 9px 28px -2px rgba(0,0,0,0.75);
  border-radius: 5px;
  height: 580px;
  width: 50%;
  float: left;
  padding: 15px 20px 20px 20px;
  text-align: left;
  margin: 5px;
}

div.year-right-box {
  font-family: Georgia, "Century Gothic", sans-serif;
  min-width: 240px;
  border: 0px solid black;
  background-color: white;
  -webkit-box-shadow: 10px 9px 28px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 9px 28px -2px rgba(0,0,0,0.75);
  box-shadow: 10px 9px 28px -2px rgba(0,0,0,0.75);
  border-radius: 5px;
  height: 580px;
  width: 18%;
  float: left;
  padding: 20px 10px;
  text-align: left;
  margin: 5px;
}

th {
  text-align:left;
  padding-left: 10px;
  /*border-bottom: 2px solid black;*/
}

td {
   padding-left: 10px;
}

#scheduleYearView {
  float: left;
  width: 35%;
  min-width: 450px;
  padding-left: 5px;
  text-align: left;
  margin: 2px 10px;
  display: inline;
  border: 1px solid black;
}

#mainYearView {
  float: left;
  width: 50%;
  min-width: 650px;
  text-align: left;
  margin: 2px 10px;
  display: inline;
  border: 1px solid black;
}

#playerYearView {
  clear:both;
  min-width: 450px;
  float: left;
  width: 35%;
  text-align: left;
  margin: 2px 10px;
  /*display: inline;*/
  border: 1px solid black;
}

.summary {
  float: right;
  width: 40%;
  text-align: center;
  border: solid 1px black;
}


/*********** Landing Page Layout ***********/

div.no-wrap  {
  clear: both;
}

/*changes some things and looks good*/
p.justify {
  text-align: justify;
  font-size: 1.3em;
}

div.page-header  {
  border: 0px solid black;
  width: 100%;
  min-width: 1300px;
  max-width: 1300px;
  font-size: 18px;
  font-weight: bold;
  color: #303030;
  text-align: center;
  padding: 0px 10px 0px 10px;
  margin: auto;
}

div.main-box {
  width: 100%;
  min-width: 1050px;
  margin: auto;
 }

div.main-left-box {
  font-family: Georgia, "Century Gothic", sans-serif;
  border: 0px solid black;
  width: 19%;
  float: left;
  padding: 20px 10px 20px 10px;
  text-align: center;
  margin: 5px;
}

div.main-center-box {
  font-family: Georgia, "Century Gothic", sans-serif;
  border: 0px solid black;
  width: 59%;
  float: left;
  padding: 20px 10px 20px 10px;
  text-align: justify;
  margin: 5px;
}

div.main-right-box {
  font-family: Georgia, "Century Gothic", sans-serif;
  border: 0px solid black;
  width: 19%;
  float: right;
  padding: 20px 10px 20px 10px;
  text-align: center;
  margin: 5px;
}

.black-text {
 font-family: Georgia, "Century Gothic", sans-serif;
}

.black-link {
 font-family: Georgia, "Century Gothic", sans-serif;
}

/*********** Player Table ***********/

img {
-webkit-box-shadow: 10px 10px 20px 0px rgba(194,194,194,1);
-moz-box-shadow: 10px 10px 20px 0px rgba(194,194,194,1);
box-shadow: 10px 10px 20px 0px rgba(194,194,194,1);
  border-radius: 5px;
  /*padding: 5px;*/
  margin-top: 15px;
}

.img-center {
  text-align: center;
}

.padding-top {
  padding-top: 10px;
}

.padding-boxscore {
  padding-top: 25px;
}

.about {
  padding-top: 65px
}

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  margin: auto;
  animation: spin 3s infinite linear
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
