<div>
  <!-- Year View heading info -->
  <section>
    <div class="year-head-box">
      <div class="year-head-left-box"><h3> {{ yearView.year.year }} R.I. Independents</h3></div>
      <div class="year-head-center-box"><h3> Record {{ yearView.year.wins }} - {{ yearView.year.losses }} - {{ yearView.year.ties }} </h3></div>
       <div class="year-head-right-box"><h3> Coach {{ yearView.year.coachId.firstName }} {{ yearView.year.coachId.lastName }} </h3></div>
    </div>
  </section>

  <article class="year-box" class="top">
  <!-- Table heading and Opponent name and score -->
    <!-- <section class="scheduleYearView"> -->
    <section>
      <div class="year-left-box">
        <h3 class="center">{{ yearView.year.year }} {{ yearView.scheduleHeading }}</h3>
          <table class="cellPad">
            <thead>
              <tr>
                <th>Wk</th>
                <th>Teams</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="game in yearView.thisYearsGames | orderBy: 'date'">
                <td>{{ game.week }}</td>
                <td>{{ game.opponentId.name }}</td>
                <td><a href ="" ng-click="yearView.selectGame(game)">{{ game.result }}-{{ game.rockIslandScore }}-{{ game.opponentScore }}</a></td>
              </tr>
            </tbody>
          </table>
      </div>
    </section>

    <!-- Year Summary Section -->
    <section>
      <div class="year-center-box">
        <div ng-show="yearView.yearSummary"><h2>Year Summary</h2> {{  yearView.year.yearSummary }}</div>
        <!-- <div ng-show="yearView.individualGameView"><h2>Game Summary</h2> {{  yearView.gameSummary }}</div> -->

        <div ng-show="yearView.individualGameView" class="row">
          <div class="col-md-5"><h2>Game</h2>
            <p>Date: {{ yearView.game.date }}</p>
            <p>Attendance: {{ yearView.game.attendance }}</p>
            <p>Location: {{ yearView.game.locationId.venueName }}</p>
            <p>City: {{ yearView.game.locationId.city }}</p>
            <p>State: {{ yearView.game.locationId.state }}</p>
          </div>
          <div class="col-md-7 padding-boxscore">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>T</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>{{ yearView.game.opponentId.name }}</th>
                  <td>{{ yearView.game.opp1st }}</td>
                  <td>{{ yearView.game.opp2nd }}</td>
                  <td>{{ yearView.game.opp3rd }}</td>
                  <td>{{ yearView.game.opp4th }}</td>
                  <th>{{ yearView.game.opponentScore }}</th>

                </tr>
                <tr>
                  <th>Rock Island Independents</th>
                  <td>{{ yearView.game.rii1st }}</td>
                  <td>{{ yearView.game.rii2nd }}</td>
                  <td>{{ yearView.game.rii3rd }}</td>
                  <td>{{ yearView.game.rii4th }}</td>
                  <th>{{ yearView.game.rockIslandScore }}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div ng-show="yearView.individualGameView" class="row">
          <div class="col-md-12">
            <h4>Game Summary: </h4><p>{{ yearView.game.gameSummary }}</p>
          </div>
        </div>

        <!-- NG Show Player View -->
        <div  ng-show="yearView.individualPlayerView" class="row">
          <div class="col-md-6"><h2>Player Bio</h2>
            <h3> {{ yearView.player.firstName }} {{ yearView.player.nickName }} {{ yearView.player.lastName }}</h3>
                    <p>Position: {{ yearView.player.position }}</p>
                    <p>Birth Date: {{ yearView.player.birthDate }}</p>
                    <p>Birth State: {{ yearView.player.birthState }}</p>
                    <p>College: {{ yearView.player.college }}</p>
          </div>
          <div class="col-md-6 padding-boxscore">
            <img ng-src="{{ yearView.player.image }}">
            <p class="padding-top">Photo: {{ yearView.player.imageInfo }}</p>
          </div>
        </div>
        <div ng-show="yearView.individualPlayerView" class="row">
          <div class="col-md-12">
            <p>About: {{ yearView.player.playerBio }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Player Name and Position -->
    <section>
      <div class="year-right-box">
        <h3 class="center">{{ yearView.year.year }} {{ yearView.rosterHeading }}</h3>
          <div>
            <table>
              <thead>
                <tr>
                  <th>Player</th>
                  <th>Position</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="player in yearView.thisYearsPlayers | orderBy: 'lastName'">
                  <td><a href ="" ng-click="yearView.selectPlayer(player)">{{ player.firstName }} {{ player.lastName }}</a></td>
                  <td>{{ player.position }}</td>
                </tr>
              </tbody>
          </div>
      </div>
    </section>
  </article>
</div>
