<div>
  <section>
    <div>
      <div class="left"><h3> {{ yearView.year.year }} R.I. Independents</h3></div>
      <divc class="left"><h3> Record {{ yearView.year.wins }} - {{ yearView.year.losses }} - {{ yearView.year.ties }} </h3></div>
      <div class="left"><h3> Coach {{ yearView.year.coachId.firstName }} {{ yearView.year.coachId.lastName }} </h3>
    </div>
  </section>

  <section>
    <div>
      <h3>{{ yearView.year.year }} {{ yearView.heading }}</h3>
        <table>
          <thead>
            <tr>
              <th>Wk</th>
              <th>Teams</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="game in yearView.thisYearsGames | orderBy: 'date'">
              <td>{{ game.week }}</td>
              <td>{{ game.opponentId.name }}</td>
              <td>{{ game.result }}-{{ game.rockIslandScore }}-{{ game.opponentScore }}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </section>

  <section class="summary">
    <div> {{  yearView.year.yearSummary }}
  </section>

    <section>
    <div>
      <table>
        <thead>
          <tr>
            <th>Player</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in yearView.playerthisYearsPlayers | orderBy: 'lastName'">
            <td>{{ player.firstName }} {{ player.lastName }}</td>
            <td>{{ player.position }}</td>
          </tr>
        </tbody>
    </div>
  </section>
</div>