<div>
  <section>
    <h1 class="center">{{ opponents.welcome }}</h1>
    <!-- <h1>{{ opponents.welcome }}</h1> -->
<!--
    <p ng-repeat='opponent in opponents.teamsPlayed'> <a href ="{{ opponent.url }}"> {{ opponent.name }} </a>
    </p> -->

      <div class="col-lg-10 col-md-10 col-sm-10"> <!-- ng-show? -->
        <div>
          <h1>{{ opponents.heading }}</h1>
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>Teams</th>
                  <th>Wins</th>
                  <th>Losses</th>
                  <th>Ties</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="opponent in opponents.teamsPlayed | orderBy: 'name'">
                  <td>{{ opponent.name }}</td>
                  <td>{{ opponent.wins }}</td>
                  <td>{{ opponent.losses }}</td>
                  <td>{{ opponent.ties }}</td>
                  <!-- <td><button ng-click="deleteAlbum(album)">Delete</button></td> -->
                </tr>
              </tbody>
            </table>
        </div>
      </div>


  </section>
</div>